<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iut.ptut"
    android:versionCode="1"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".view.ActivityNotification" 
	     android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".view.WeekActivity">
        </activity>
        <activity 
            android:name=".view.TodayActivity">
        </activity>
    </application>
    
<!-- Pour pouvoir programmer le CRON -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
<uses-permission android:name="android.permission.WAKE_LOCK" /> 
<uses-permission android:name="android.permission.VIBRATE" />
</manifest>